:root {
    --dark: rgb(117, 196, 100);
    --darkest: rgb(196, 70, 171);
    --hover-darkest: rgb(237, 141, 241);
    --hover-dark: rgb(180, 246, 181);
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    background: url(../images/bckgnd2.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
}

.calc-div {
    padding: 40px 20px 20px 20px;
    max-width: fit-content;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 30px;
}

.screen {
    text-align: end;
    padding: 20px;
    margin: 10px;
    margin: auto;
    border: var(--hover-darkest) 3px solid;
    border-radius: 16px;
    width: 270px;
    height: 18.5px;
    font-family: 'Handjet', sans-serif;
    font-size: x-large;
    box-shadow: 0 4px 30px var(--hover-dark);
}

.keypad {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.row > div {
    font-size: larger;
}

.btn {
    font-family: 'Lobster', sans-serif;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    width: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.other {
    background: var(--darkest);
}

.other::before {
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.other:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--hover-darkest)
}

.other:hover {
    color: var(--hover-darkest);
    box-shadow: 0 0 5px var(--hover-darkest);
    text-shadow: 0 0 5px var(--hover-darkest)
}

.operation {
    background: var(--dark)
}

.operation::before {
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.operation:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--hover-dark)
}

.operation:hover {
    color: var(--hover-dark);
    box-shadow: 0 0 5px var(--hover-dark);
    text-shadow: 0 0 5px var(--hover-dark)
}

.number::before {
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.number:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--hover-dark)
}

.number:hover {
    color: var(--darkest);
    box-shadow: 0 0 5px var(--hover-dark);
    text-shadow: 0 0 5px var(--darkest);
    backdrop-filter: blur(100px);
}

#ac {
    width: 185px;
}

#zero {
    width: 100px;
}

.btn:hover {
    cursor: pointer;
}