:root {
    --dark: rgba(10, 236, 221, 0.3);
    --darkest: rgba(246, 4, 77, 0.3);
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    background: url(../images/bckgnd.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.calc-div {
    padding: 40px 20px 20px 20px;
    max-width: fit-content;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.screen {
    text-align: end;
    padding: 20px;
    margin: 10px;
    margin: auto;
    border: black 1px solid;
    border-radius: 16px;
    width: 270px;
    height: 18.5px;
}

.keypad {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.btn {
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    width: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.other {
    background: var(--darkest);
}

.other:hover, .operation:hover {
    box-shadow: 5px 5px rgba(255, 255, 255, 0.3);
}

.operation {
    background: var(--dark)
}

.number:hover {
    box-shadow: 5px 5px var(--dark)
}

#zero {
    width: 100px;
}

.btn:hover {
    cursor: pointer;
}